*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  font-size: 1.6rem;
  background: #fff2e6;
  height: 150vh;
}

.header {
  width: 100%;
  height: 6rem;
  padding-top: 1.6rem;
  background: rgba(235, 140, 52, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  font-size: 3.2rem;
  color: #222;
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-link {
  padding: 1rem;
  color: #222;
}

.image-section {
  margin-top: 6rem;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/forest.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: circle(175vh at 50% -75vh);
          clip-path: circle(175vh at 50% -75vh);
  opacity: 0.85;
}

.title h1 {
  text-align: center;
  position: relative;
  font-size: 8.8rem;
  color: #e3d8c3;
}

.title h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.5rem;
  right: 8.2rem;
  width: 45%;
  border-top: 5px solid #fff2e6;
}

.leaf1,
.leaf2,
.leaf3,
.leaf4 {
  width: 25%;
  -webkit-filter: drop-shadow(22px -5px 7px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(22px -5px 7px rgba(0, 0, 0, 0.5));
}

.card-section {
  max-width: 90rem;
  margin: 0 auto;
  padding: 6rem 0;
  position: relative;
}

.card-section h2 {
  text-align: center;
  font-size: 4rem;
  color: #f07122;
}

.card-section h2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 39.8rem;
  width: 10%;
  height: 27%;
  border-top: 5px solid #f07122;
}

.card-section .leaf2 {
  position: absolute;
  top: -2.5rem;
  right: 14.5rem;
  width: 15%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  animation: leaf2 10s infinite alternate-reverse ease-in;
}

.card-section .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.card-section .card-content {
  padding: 6rem 0;
  width: 50%;
  color: #eb8c34;
  position: absolute;
}

.card-section .card-image {
  position: absolute;
  width: 100%;
  top: 0.5rem;
  left: 0;
}

.leaf1 {
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
  animation: leaf1 13s infinite alternate-reverse;
}

@-webkit-keyframes leaf1 {
  from {
    -webkit-transform: translateY(15px) rotate(50deg);
            transform: translateY(15px) rotate(50deg);
  }
  to {
    -webkit-transform: translateY(0) rotate(100deg);
            transform: translateY(0) rotate(100deg);
  }
}

@keyframes leaf1 {
  from {
    -webkit-transform: translateY(15px) rotate(50deg);
            transform: translateY(15px) rotate(50deg);
  }
  to {
    -webkit-transform: translateY(0) rotate(100deg);
            transform: translateY(0) rotate(100deg);
  }
}

@-webkit-keyframes leaf2 {
  from {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  to {
    -webkit-transform: translateY(10px) rotate(90deg);
            transform: translateY(10px) rotate(90deg);
  }
}

@keyframes leaf2 {
  from {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  to {
    -webkit-transform: translateY(10px) rotate(90deg);
            transform: translateY(10px) rotate(90deg);
  }
}
/*# sourceMappingURL=style.css.map */