$primary-color: #fff2e6;
$white-dark: #e3d8c3;

$primary-color-text: #222;
$secondary-color-text: #eb8c34;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-color-text;
  font-size: 1.6rem;
  background: $primary-color;
  height: 150vh;
}

.header {
  width: 100%;
  height: 6rem;
  padding-top: 1.6rem;
  background: rgba(235, 140, 52, 0.8);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo {
    font-size: 2.4rem;
    color: $primary-color-text;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-link {
    margin: 0 1rem;
    color: $primary-color-text;
  }
}

.container-section {
  margin-top: 6rem;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/forest.jpg");
  //background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(175vh at 50% -75vh);

  h2 {
    text-align: center;
    font-size: 8rem;
    color: $white-dark;
  }
}
